* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    background-color: darkred;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 0, 0.459);
}